body {
    margin: 0;
    background-color: black;
}

.main-box {
    width: 500px;
    height: 500px;
    background-color: white;
    margin-top: 90px;
    border-radius: 20px;
    padding: 35px;
}

.main-box h2 {
    text-align: center;
    padding: 10px 0px 30px 0px;
}